div(role='main')
  .main__inner.d-table.m-auto
    section
      .section.mb-5
        h3.text-center Example request and result
        code https://ncom.herokuapp.com/header-parser/api/v1/whoami
        br
        br
        code
          pre.
              { 
                "ip": "75.187.98.171", 
                "lang": "en-US", 
                "agent": "Macintosh; Intel Mac OS X 10.11; rv:46.0" 
              }
