div(role='main')
  .main__inner.d-table.m-auto
    section
      h3.text-center Request URL Patterns
      ul
        li
          | For getting search results
          br
          code
            | https://ncom.herokuapp.com/image-abstract/api/v1/entry/{ SEARCH TERM }?offset= { 1-10
            | }
        li
          | For getting recent search history
          br
          code https://ncom.herokuapp.com/image-abstract/api/v1/history
          